<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default">

<body>

<div layout:fragment="content">
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/img/bg_1.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <h1 class="mb-3 bread">Admin</h1>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <h1 class="mb-3 bread">Contact Us Message</h1>
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <td>Car</td>
                    <td>Date From</td>
                    <td>Date To</td>
                    <td>Response</td>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="rentCar : ${rentCar}">
                    <td th:text="${rentCar.date_from}"></td>
                    <td th:text="${rentCar.date_to}"></td>
<!--                    <span. th:if="${rentCar.car_id == cars.id}" ><span th:text="${cars.name}"></span></span.>-->

<!--                    <td>-->
<!--                        <a th:href="${'http://localhost:8086/rentCar/deleteContactUs/' + rentCar.id}">-->
<!--                            <button class="btn btn-danger">Refuse</button>-->
<!--                        </a>-->
                        <a th:href="${'https://mail.google.com/mail/u/1/#inbox?compose=new'}">
                            <button class="btn btn-success">apply
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-4">
                    <div class="row mb-5">

                        <table class="table table-bordered table-striped">
                            <thead class="table-dark">
                            <tr>
                                <td>Address</td>
                                <td>Phone</td>
                                <td>Email</td>
                                <td><a th:href="${'http://localhost:8086/rentCar/deleteInformation/'}">
                                    <button class="btn btn-danger">Delete All Information</button>
                                </a></td>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="informations : ${informations}">
                                <td th:text="${informations.address}"></td>
                                <br>
                                <td th:text="${informations.phone}"></td>
                                <br>
                                <td th:text="${informations.email}"></td>
                                <br>
                                <td>
                                    <a th:href="${'http://localhost:8086/rentCar/editInformation/'+ informations.id}">
                                        <button class="btn btn-success">Edit</button>
                                    </a>
                                </td>
                                <br>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>
        <div class="container">
            <div class="col-md-8 block-9 mb-md-5">
                <form th:action="@{/rentCar/saveInformation}" method="post" class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <input type="text" name="address" id="address" class="form-control"
                               placeholder="Your Address">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Information"
                               class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>
        </div>
    </section>




    <section>
        <div class="container">
            <h1 class="mb-3 bread">Contact Us Message</h1>
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Subject</td>
                    <td>Message</td>
                    <td><a th:href="${'http://localhost:8086/rentCar/deleteAllContactUs/'}">
                        <button class="btn btn-danger">Delete All Message</button>
                    </a></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contacts : ${contacts}">
                    <td th:text="${contacts.name}"></td>
                    <td th:text="${contacts.email}"></td>
                    <td th:text="${contacts.subject}"></td>
                    <td th:text="${contacts.message}"></td>

                    <td>
                        <a th:href="${'http://localhost:8086/rentCar/deleteContactUs/' + contacts.id}">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                        <a th:href="${'https://mail.google.com/mail/u/1/#inbox?compose=new'}">
                            <button class="btn btn-success">Reply
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>


    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-5">
                    <div class="row mb-5">


                        <h1 class="mb-3 bread">All Blog</h1>
                        <div class="block-21 mb-4 d-flex" th:each="blogs : ${blogs}">
                            <tr>
                                <a href="/rentCar/blog-single">
                                    <img class="blog-img mr-4" th:src="@{'data:image/jpeg;base64,'+${blogs.image}}"
                                         alt="image">
                                </a>
                                <div class="text">
                                    <h3 class="heading"><a href="#">
                                        <td th:text="${blogs.text}"></td>
                                    </a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span>
                                            <td th:text="${blogs.date}"></td>
                                        </a></div>
                                        <div><a href="#"><span class="icon-person"></span>
                                            <td th:text="${blogs.author}"></td>
                                        </a></div>
                                    </div>
                                </div>
                            </tr>

                            <a th:href="${'http://localhost:8086/rentCar/deleteBlog/' + blogs.id}">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                            <a th:href="${'http://localhost:8086/rentCar/editBlog/'+ blogs.id}">
                                <button class="btn btn-success">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                </form>
                <div class="col-md-7 block-9 mb-md-5">
                    <h1 class="mb-3 bread">Blog Add</h1>
                    <form th:action="@{/rentCar/saveBlog}" th:object="${blogs}" enctype="multipart/form-data"
                          class="bg-light p-5 contact-form" method="post">
                        <div class="form-group">
                            <input type="text" th:name="title" id="title" class="form-control"
                                   placeholder="Blog Name" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" th:name="text" id="text" class="form-control" placeholder="Blog Title"
                                   required/>
                        </div>
                        <div class="form-group">
                            <input type="text" th:name="author" id="author" class="form-control"
                                   placeholder="Blog Author" required/>
                        </div>
                        <div class="form-group">
                            <textarea th:name="article" id="article" cols="30" rows="7" class="form-control"
                                      placeholder="Write Blog text" required/></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="blogImage">image:</label>
                            <div class="col-sm-10">
                                <input type="file" id="blogImage" th:name="blogImage" accept="image/png, image/jpeg"
                                       required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" value="Add Blog"
                                   class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-3">Services</h2>
                </div>
            </div>

            <div class="row">
                <tr th:each="services : ${services}">
                    <div class="col-md-3">
                        <div class="services services-2 w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="flaticon-route"></span></div>
                            <div class="text w-100">
                                <h3 class="heading mb-2" th:text="${services.name}"></h3>
                                <p th:text="${services.about}"></p>
                            </div>
                            <a th:href="${'http://localhost:8086/rentCar/deleteService/' + services.id}">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                            <a th:href="${'http://localhost:8086/rentCar/editService/'+ services.id}">
                                <button class="btn btn-success">Edit</button>
                            </a>
                        </div>
                    </div>
                </tr>
            </div>
        </div>

        <div class="container">
            <br>
            <br>
            <div class="col-md-10 block-9 mb-md-5">
                <h2 class="mb-3">Add Services</h2>
                <form th:action="@{/rentCar/saveService}" method="post"
                      class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <h5>Service Name:</h5>
                        <input type="text" name="name" id="name"
                               class="form-control"
                               placeholder="Service Name">
                    </div>
                    <div class="form-group">
                        <h5>About Service:</h5>
                        <textarea type="text" name="about" id="about" class="form-control"
                                  cols="30" rows="7" placeholder="About Service"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Service"
                               class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-about">
        <div class="container">
            <div class="row no-gutters" th:each="about : ${about}">

                <img class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                     th:src="@{'data:image/jpeg;base64,'+${about.image}}" alt="image">
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading" th:text="${about.name}"></span>
                        <h2 class="mb-4" th:text="${about.title}">
                        </h2>
                        <p th:text="${about.text}">

                        </p>
                        <p><a href="/rentCar/car/" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
                        <p><a th:href="${'http://localhost:8086/rentCar/editAbout/'+ about.id}"
                              class="btn btn-primary py-3 px-4">Edit About Us</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-3">Happy Clients Edit</h2>
                </div>
            </div>

            <div class="row ftco-animate">
                <tr th:each="clients : ${clients}">
                    <div class="col-md-4">
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2">
                                    <img class="user-img mb-2" th:src="@{'data:image/jpeg;base64,'+${clients.image}}"
                                         alt="image">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4" th:text="${clients.about}"></p>
                                    <p class="name" th:text="${clients.name}"></p>
                                    <span class="position" th:text="${clients.work}"></span>
                                </div>
                                <a th:href="${'http://localhost:8086/rentCar/deleteClient/' + clients.id}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                                <a th:href="${'http://localhost:8086/rentCar/editClient/'+ clients.id}">
                                    <button class="btn btn-success">Edit</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </tr>
            </div>
        </div>

        <div class="container">
            <br>
            <br>
            <div class="col-md-10 block-9 mb-md-5">
                <h2 class="mb-3">Add Happy Client</h2>
                <form th:action="@{/rentCar/saveClient}" th:object="${clients}" enctype="multipart/form-data"
                      method="post"
                      class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <h5>Client Name:</h5>
                        <input type="text" th:name="name" id="nameClient"
                               class="form-control"
                               placeholder="Client Name">
                    </div>
                    <div class="form-group">
                        <h5>Client Work:</h5>
                        <input type="text" th:name="work" id="workClient"
                               class="form-control"
                               placeholder="Client Name">
                    </div>
                    <div class="form-group">
                        <h5>Client About:</h5>
                        <textarea type="text" th:name="about" id="aboutClient" class="form-control"
                                  cols="30" rows="7" placeholder="About Client"></textarea>
                    </div>
                    <div class="form-group">
                        <h5>Client Image:</h5>
                        <input type="file" id="image" th:name="image" accept="image/png, image/jpeg" required/>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" value="Add Client"
                               class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">

                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th><a href="/rentCar/addCar/">
                                <button class="btn btn-primary">Add New Car</button>
                            </a></th>
                            <th class="bg-primary heading">Information Car</th>
                            <th class="bg-dark heading">Edit Cars</th>
                            <th class="bg-black heading">Delete Cars</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="" th:each="cars : ${cars}">
                            <td class="car-image">
                                <div class="img"><img class="img-fluid w-100 pb-1"
                                                      th:src="@{'data:image/jpeg;base64,'+${cars.car_image}}"
                                                      alt="image">
                                </div>
                            </td>
                            <td class="price"><span class="heading mb-0 pl-3" th:text="${cars.year} + ' '"></span><span
                                    class="heading mb-0 pl-3" th:text="${cars.name}"></span>
                                <div class="heading mb-0 pl-3" th:text="${cars.mileage} +' mileage'"></div>
                                <div class="heading mb-0 pl-3" th:text="${cars.transmission}"></div>
                                <div class="heading mb-0 pl-3" th:text="${cars.fuel}"></div>
                            </td>

                            <td class="price">
                                <p class="btn-custom"><a
                                        th:href="${'http://localhost:8086/rentCar/editCar/' + cars.id}">Edit</a></p>
                                <div class="price-rate">
                                    <h3>
                                        Edit Car
                                    </h3>
                                </div>
                            </td>

                            <td class="price">
                                <p class="btn-custom"><a
                                        th:href="${'http://localhost:8086/rentCar/deleteCar/' + cars.id}">Delete</a></p>
                                <div class="price-rate">
                                    <h3>
                                        Delete Car!
                                    </h3>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-counter ftco-section img" id="section-counter">
        <div class="overlay"></div>
        <div class="container" th:each="rankings : ${rankings}">
            <div class="row">
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" th:id="totalPriceFromService"
                                    th:text="${@rankingService.calculateExpierence(rankings)}"></strong>
                            <span>Year <br>Experienced</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" th:text="${@carsService.totalCar()}"></strong>
                            <span>Total <br>Cars</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" th:text="${@clientsService.totalClients()}">
                            </strong>
                            <span>Happy <br>Customers</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text d-flex align-items-center">
                            <strong class="number" th:text="${rankings.total_branches}"></strong>
                            <span>Total <br>Branches</span>


                        </div>


                        <h4 class="mb-3 bread">Edit Total Branches</h4>
                        <form th:action="@{/rentCar/saveRanking}" th:each="rankings : ${rankings}" method="post"
                              class="bg-light p-5 contact-form">
                            <div class="form-group">
                                <input type="hidden" th:value="${rankings.id}" class="form-control" id="id" name="id">
                                <input type="hidden" th:value="${rankings.start_year}" class="form-control"
                                       id="start_year" name="start_year">

                                <input type="number" th:value="${rankings.total_branches}" name="total_branches"
                                       id="total_branches" class="form-control"
                                       placeholder="Total Branches">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" value="Edit Total Branches"
                                       class="btn btn-primary">
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>