<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default">

<body>

<div layout:fragment="content">
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/img/bg_3.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Car details <i
                            class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Car Details</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-car-details">
        <div class="container">
            <tr th:each="cars : ${cars}">
                <div class="row justify-content-center">


                    <div class="col-md-12">
                        <div class="car-details">
                            <img class="img rounded" th:src="@{'data:image/jpeg;base64,'+${cars.car_image}}"
                                 alt="image">
                            <div class="text text-center">
                                <span class="subheading"> <td th:text="${cars.mark}"></td></span>
                                <h2>
                                    <td th:text="${cars.name}"></td>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services">
                            <div class="media-body py-md-4">
                                <div class="d-flex mb-3 align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center"><span
                                            class="flaticon-dashboard"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-0 pl-3">
                                            Mileage
                                            <span> <td th:text="${cars.mileage}"></td></span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services">
                            <div class="media-body py-md-4">
                                <div class="d-flex mb-3 align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center"><span
                                            class="flaticon-pistons"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-0 pl-3">
                                            Transmission
                                            <span> <td th:text="${cars.transmission}"></td></span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services">
                            <div class="media-body py-md-4">
                                <div class="d-flex mb-3 align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center"><span
                                            class="flaticon-car-seat"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-0 pl-3">
                                            Seats
                                            <span><td th:text="${cars.seats}"></td> Adults</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services">
                            <div class="media-body py-md-4">
                                <div class="d-flex mb-3 align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center"><span
                                            class="flaticon-diesel"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-0 pl-3">
                                            Fuel
                                            <span><td th:text="${cars.fuel}"></td></span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pills">
                        <div class="bd-example bd-example-tabs">
                            <div class="d-flex justify-content-center">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-description-tab" data-toggle="pill"
                                           href="#pills-description" role="tab" aria-controls="pills-description"
                                           aria-expanded="true">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill"
                                           href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer"
                                           aria-expanded="true">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-review-tab" data-toggle="pill"
                                           href="#pills-review" role="tab" aria-controls="pills-review"
                                           aria-expanded="true">Review</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                                     aria-labelledby="pills-description-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="features">
                                                <li class="check" th:if="${cars.airconditions}"><span
                                                        class="ion-ios-checkmark"></span>Airconditions
                                                </li>
                                                <li class="remove" th:unless="${cars.airconditions}"><span
                                                        class="ion-ios-close"></span>Airconditions
                                                </li>

                                                <li class="check" th:if="${cars.child_seat}"><span
                                                        class="ion-ios-checkmark"></span>Child Seat
                                                </li>
                                                <li class="remove" th:unless="${cars.child_seat}"><span
                                                        class="ion-ios-close"></span>Child Seat
                                                </li>

                                                <li class="check" th:if="${cars.gps}"><span
                                                        class="ion-ios-checkmark"></span>GPS
                                                </li>
                                                <li class="remove" th:unless="${cars.gps}"><span
                                                        class="ion-ios-close"></span>GPS
                                                </li>

                                                <li class="check" th:if="${cars.seat_belt}"><span
                                                        class="ion-ios-checkmark"></span>Seat Belt
                                                </li>
                                                <li class="remove" th:unless="${cars.seat_belt}"><span
                                                        class="ion-ios-close"></span>Seat Belt
                                                </li>

                                                <li class="check" th:if="${cars.bluetooth}"><span
                                                        class="ion-ios-checkmark"></span>Bluetooth
                                                </li>
                                                <li class="remove" th:unless="${cars.bluetooth}"><span
                                                        class="ion-ios-close"></span>Bluetooth
                                                </li>

                                            </ul>
                                            <!--										<td th:text="${cars.airconditions}"></td>-->
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="features">
                                                <li class="check" th:if="${cars.onboard_computer}"><span
                                                        class="ion-ios-checkmark"></span>Onboard computer
                                                </li>
                                                <li class="remove" th:unless="${cars.onboard_computer}"><span
                                                        class="ion-ios-close"></span>Onboard computer
                                                </li>

                                                <li class="check" th:if="${cars.remote_central_locking}"><span
                                                        class="ion-ios-checkmark"></span>Remote Central Locking
                                                </li>
                                                <li class="remove" th:unless="${cars.remote_central_locking}"><span
                                                        class="ion-ios-close"></span>Remote Central Locking
                                                </li>

                                                <li class="check" th:if="${cars.climate_control}"><span
                                                        class="ion-ios-checkmark"></span>Climate Control
                                                </li>
                                                <li class="remove" th:unless="${cars.climate_control}"><span
                                                        class="ion-ios-close"></span>Climate Control
                                                </li>

                                                <li class="check" th:if="${cars.audio_input}"><span
                                                        class="ion-ios-checkmark"></span>Audio Input
                                                </li>
                                                <li class="remove" th:unless="${cars.audio_input}"><span
                                                        class="ion-ios-close"></span>Audio Input
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel"
                                     aria-labelledby="pills-manufacturer-tab">
                                    <p>
                                    <td th:text="${cars.description}"></td>
                                    </p>
                                </div>

                                <div class="tab-pane fade" id="pills-review" role="tabpanel"
                                     aria-labelledby="pills-review-tab">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="review d-flex" th:if="${carComments.car_id == cars.id}"
                                                 th:each="carComments : ${carComments}">

                                                <span class="text-left" th:text="${carComments.name}"></span>

                                                <div class="desc">
                                                    <h4>
                                                        <span class="text-right" th:text="${carComments.date}"></span>
                                                    </h4>
                                                    <p th:text="${carComments.text}"></p>
                                                    <hr/>
                                                </div>
                                            </div>
                                            <!--                                            <form th:action="@{/rentCar/saveCarComments}" th:each="cars : ${cars}"-->
                                            <!--                                                  method="post" class="p-5 bg-light">-->
                                            <div class="form-group">
                                                <label for="name">Name *</label>
                                                <input type="hidden" th:value="${cars.id}" name="car_id"
                                                       class="form-control" id="car_id">
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="text">Message</label>
                                                <textarea name="text" id="text" cols="15" rows="10"
                                                          class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn py-3 px-4 btn-primary" id="saveComment">Post
                                                    Comment
                                                </button>
                                                <!--                                                    <input type="submit" value="Post Comment"-->
                                                <!--                                                           class="btn py-3 px-4 btn-primary">-->
                                            </div>
                                            <!--                                            </form>-->
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
    </section>


<!--    <script>-->
<!--        $("#saveComment").click(function () {-->
<!--            let car_id = $('#car_id').val()-->
<!--            let name = $('#name').val()-->
<!--            let text = $('#text').val()-->


<!--            let data = {}-->
<!--            data.car_id = car_id-->
<!--            data.name = name-->
<!--            data.text = text-->

<!--            let div=document.createElement("#list")-->

<!--            console.log(data)-->
<!--            $.ajax({-->
<!--                url: 'http://localhost:8086/rentCar/saveCarComments',-->
<!--                type: 'POST',-->
<!--                data: JSON.stringify(data),-->
<!--                dataType: 'json',-->
<!--                contentType: "application/json",-->
<!--                success: function (res) {-->
<!--                 div.append("#list")-->
<!--                               }-->
<!--            })-->


<!--        })-->
<!--    </script>-->
</div>
</body>
</html>