<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default">

<body>

<div layout:fragment="content">

    <div class="hero-wrap ftco-degree-bg"
         style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5">

        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
                <div class="col-lg-8 ftco-animate">
                    <div class="text w-100 text-center mb-md-5 pb-md-5">
                        <h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1>
                        <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with
                            the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
                        <a href="https://vimeo.com/45830194"
                           class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-play"></span>
                            </div>
                            <div class="heading-title ml-5">
                                <span>Easy steps for renting a car</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12	featured-top">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <form action="#" class="request-form ftco-animate bg-primary">
                                <h2>Make your trip</h2>
                                <div class="form-group">
                                    <label for="pick-up" class="label">Pick-up location</label>
                                    <input id="pick-up" type="text" class="form-control"
                                           placeholder="City, Airport, Station, etc">
                                </div>
                                <div class="form-group">
                                    <label for="drop-off" class="label">Drop-off location</label>
                                    <input id="drop-off" type="text" class="form-control"
                                           placeholder="City, Airport, Station, etc">
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="book_pick_date" class="label">Pick-up date</label>
                                        <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
                                    </div>
                                    <div class="form-group ml-2">
                                        <label for="book_off_date" class="label">Drop-off date</label>
                                        <input type="text" class="form-control" id="book_off_date" placeholder="Date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="time_pick" class="label">Pick-up time</label>
                                    <input type="text" class="form-control" id="time_pick" placeholder="Time">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Rent A Car Now" class="btn btn-secondary py-3 px-4">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
                                <div class="row d-flex mb-4">
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-route"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-handshake"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Select the Best Deal</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span
                                                    class="flaticon-rent"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Reserve Your Rental Car</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p><a href="#" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                    <span class="subheading">What we offer</span>
                    <h2 class="mb-2">Featured Vehicles</h2>
                </div>
            </div>
            <div class="row">
                <tr th:each="cars : ${cars}">
                    <div class="col-md-4">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end">
                                <img class="img-fluid w-100 pb-1"  th:src="${cars.image}" alt="image">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="/rentCar/car-single/"> <td th:text="${cars.name}"></td></a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat"><td th:text="${cars.mark}"></td></span>
                                    <p class="price ml-auto"><td th:text="${cars.price_per_day}"></td> <span>$/day</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a>
                                    <a href="/rentCar/car-single/" class="btn btn-secondary py-2 ml-1">Details</a></p>
                            </div>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about">
        <div class="container">
            <div class="row no-gutters" th:each="about : ${about}">

                <img class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                     th:src="${about.image}" alt="image">
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading" th:text="${about.name}"></span>
                        <h2 class="mb-4" th:text="${about.title}">
                        </h2>
                        <p th:text="${about.text}">

                        </p>
                        <p><a href="/rentCar/car/" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Services</span>
                    <h2 class="mb-3">Our Latest Services</h2>
                </div>
            </div>

            <div class="row">
                <tr th:each="services : ${services}">
                    <div class="col-md-3">
                        <div class="services services-2 w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="flaticon-route"></span></div>
                            <div class="text w-100">
                                <h3 class="heading mb-2" th:text="${services.name}"></h3>
                                <p th:text="${services.about}"></p>
                            </div>
                        </div>
                    </div>
                </tr>
            </div>

        </div>
    </section>



    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Testimonial</span>
                    <h2 class="mb-3">Happy Clients</h2>
                </div>
            </div>

            <div class="row ftco-animate">
                <tr  th:each="clients : ${clients}">
                    <div class="col-md-4">
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2">
                                    <img class="user-img mb-2" th:src="${clients.image}" alt="image">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4" th:text="${clients.about}"></p>
                                    <p class="name" th:text="${clients.name}"></p>
                                    <span class="position" th:text="${clients.work}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </div>

        </div>
    </section>

    <section class="ftco-section" >
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Blog</span>
                    <h2>Recent Blog</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-4 d-flex ftco-animate"  th:each="blogs : ${blogs}">
                    <div class="blog-entry justify-content-end">
                        <a th:href="${'http://localhost:8086/rentCar/blog-single/'+ blogs.id}" class="block-20">
                            <img class="block-20" th:src="${blogs.image}" alt="image">
                        </a>
                        <div class="text pt-4">
                            <div class="meta mb-3">
                                <div ><a href="#" th:text="${blogs.date}"></a></div>
                                <div ><a href="#" th:text="${blogs.author}"></a></div>
                            </div>
                            <h4 class="heading mt-2"><a th:href="${'http://localhost:8086/rentCar/blog-single/'+ blogs.id}" th:text="${blogs.title}"></a></h4>
                            <h3 class="heading mt-2"><a th:href="${'http://localhost:8086/rentCar/blog-single/'+ blogs.id}" th:text="${blogs.text}"></a></h3>
                            <p><a th:href="${'http://localhost:8086/rentCar/blog-single/'+ blogs.id}" class="btn btn-primary">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-counter ftco-section img" id="section-counter">
        <div class="overlay"></div>
        <div class="container" th:each="rankings : ${rankings}">
            <div class="row">
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" th:id="totalPriceFromService"  th:text="${@rankingService.calculateExpierence(rankings)}"></strong>
                            <span>Year <br>Experienced</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number"  th:text="${@carsService.totalCar()}"></strong>
                            <span>Total <br>Cars</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number"  th:text="${@clientsService.totalClients()}">
                            </strong>
                            <span>Happy <br>Customers</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text d-flex align-items-center">
                            <strong class="number" th:text="${rankings.total_branches}"></strong>
                            <span>Total <br>Branches</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
</body>
</html>